In [17]:
#TABLE 1
import pandas as pd
import json
import requests

url ="https://api.covid19api.com/all"
page = requests.get(url).json()
df = pd.DataFrame(page)
df.to_csv('t_global_historical_covid',index=True,sep=',')

#Location ID is not showing though its there in response
#provice is added instead

In [19]:
df.head()

,Active,City,CityCode,Confirmed,Country,CountryCode,Date,Deaths,Lat,Lon,Province,Recovered
0,0,,,0,Afghanistan,AF,2020-01-22T00:00:00Z,0,33.94,67.71,,0
1,0,,,0,Afghanistan,AF,2020-01-23T00:00:00Z,0,33.94,67.71,,0
2,0,,,0,Afghanistan,AF,2020-01-24T00:00:00Z,0,33.94,67.71,,0
3,0,,,0,Afghanistan,AF,2020-01-25T00:00:00Z,0,33.94,67.71,,0
4,0,,,0,Afghanistan,AF,2020-01-26T00:00:00Z,0,33.94,67.71,,0

In [20]:
#TABLE 2
import pandas as pd
import json
import requests

#date = "2020-03-21"
#url ="https://api.covid19api.com/live/country/india/status/confirmed/date/"+date+"T00:00:00Z"

url='https://api.covid19api.com/country/india/status/confirmed/live'

page = requests.get(url).json()
df = pd.DataFrame(page)
df.to_csv('t_local_covid',index=True,sep=',')

In [22]:
df.head()

,Cases,City,CityCode,Country,CountryCode,Date,Lat,Lon,Province,Status
0,0,,,India,IN,2020-01-22T00:00:00Z,20.59,78.96,,confirmed
1,0,,,India,IN,2020-01-23T00:00:00Z,20.59,78.96,,confirmed
2,0,,,India,IN,2020-01-24T00:00:00Z,20.59,78.96,,confirmed
3,0,,,India,IN,2020-01-25T00:00:00Z,20.59,78.96,,confirmed
4,0,,,India,IN,2020-01-26T00:00:00Z,20.59,78.96,,confirmed

In [23]:
#TABLE 5 
import pandas as pd
import json
import requests

url = "https://api.covid19api.com/summary"
page = requests.get(url).json()
t = page['Global']
df=pd.DataFrame.from_dict(t, orient='index')
df.to_csv('Global summary',index=True,sep=',')

In [24]:
df.head()

                      0
NewConfirmed     167889
TotalConfirmed  1928633
NewDeaths          4672
TotalDeaths      108114
NewRecovered      27255

In [33]:
"""if we plant to show the country wise result
"""
#TABLE 5 
import pandas as pd
import json
import requests

url = "https://api.covid19api.com/summary"
page = requests.get(url).json()
t1 =page['Countries']

df = pd.DataFrame(page['Countries'])
df.to_csv('country wise summary',index=True,sep=',')

In [35]:
df.head()

,Country,CountryCode,Date,NewConfirmed,NewDeaths,NewRecovered,Slug,TotalConfirmed,TotalDeaths,TotalRecovered
0,ALA Aland Islands,AX,2020-04-14T06:11:33Z,0,0,0,ala-aland-islands,0,0,0
1,Afghanistan,AF,2020-04-14T06:11:33Z,58,3,0,afghanistan,665,21,32
2,Albania,AL,2020-04-14T06:11:33Z,21,0,15,albania,467,23,232
3,Algeria,DZ,2020-04-14T06:11:33Z,69,20,10,algeria,1983,313,601
4,American Samoa,AS,2020-04-14T06:11:33Z,0,0,0,american-samoa,0,0,0